common-intrg/src/main/resources/xsd/CompanyConfigurationResponse.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../xsd/CodeLookupCommon.xsd" />
	<xs:include schemaLocation="../xsd/Common.xsd" />

	<xs:annotation>
		<xs:documentation>Company configuration response schema.
		</xs:documentation>
	</xs:annotation>

	<xs:element name="list">
		<xs:annotation>
			<xs:documentation>SysAdmin Company Listing</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sysAdminCompanyDTO" type="SysAdminCompanyDTO"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Sysadmin company info.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SysAdminCompanyDTO">
		<xs:annotation>
			<xs:documentation>SysAdmin Company</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="companyName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corpId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corporation id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="controllingCompany" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Control company number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="defaultWebCompany" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Default company.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="naicsCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>NAICS code, Maps to NAICS_CD Column from
								NAICS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ncciGroupCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>NAICS Group code, Maps to CMPY_NCCI_GRP_CD
								Column from COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ncciCarrierCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>NAICS carrier code, Maps to CMPY_NCCI_CAR_CD
								Column from COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isoGroupNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>ISO Group number, Maps to CMPY_ISO_GRP_NO
								Column from COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="effectiveDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isoCompanyNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>ISO Company number, Maps to CMPY_ISO_CMPY_NO
								Column from COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyPrefix" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company prefix.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corporationCodeLookups" type="corpCodeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corp codes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressTypeCodeLookups" type="addressCodeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address type codes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyDbanameDetail" type="companyDbaNameType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company DBA name info.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyLogoDetails" type="companyLogoType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company Logo details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyTaxIDDetails" type="companyTaxIDType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comapny Taxid details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyIdentifier" type="companyIdentifierType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company Tax identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="communication" type="communicationType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Communication info.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyAddress" type="companyAddressType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company address details.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="corpCodeType">
		<xs:sequence>
			<xs:element name="codeLookupBO" type="CodeLookupType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lookup code list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="addressCodeType">
		<xs:sequence>
			<xs:element name="codeLookupBO" type="CodeLookupType"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Address type codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="companyDbaNameType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyDBANAMEDTO" type="SysAdminCompanyDBANAMEDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>SysAdmin company DBA Name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyDBANAMEDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin Company DBA Name</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="dbaName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DBA Name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dbaPriIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="companyLogoType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyLogoDTO" type="SysAdminCompanyLogoDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Coampny logo information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyLogoDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin Company Logo</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="logoType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Logo type code, Maps to LOGO_TYPE_CD Column
								from COMPANY_LOGO_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyLogoNameFile" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Logo file name.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="companyTaxIDType">
		<xs:annotation>
			<xs:documentation>Company Tax Id Type composite.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="current" type="SysAdminCompanyTaxInformationDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current tax info.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expired"
				type="SysAdminCompanyTaxInformationDTOListType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expired tax info.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxTypeCode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax type code, Maps to TAX_TYP_CD Column from
						TAX_TYPE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxNo" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdSeqCnt" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax id sequence number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updated" type="boolean" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Updated flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyTaxInformationDTOListType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyTaxInformationDTO" type="SysAdminCompanyTaxInformationDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Company Tax details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyTaxInformationDTO">
		<xs:annotation>
			<xs:documentation>Company Tax Info Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="taxTypeCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax type code, Maps to TAX_TYP_CD Column from
								TAX_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxNo" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdSeqCnt" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax id sequence count.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="companyIdentifierType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyIdentifierCompositeDTO"
				type="SysAdminCompanyIdentifierCompositeDTO" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Company identifier composite details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyIdentifierCompositeDTO">
		<xs:annotation>
			<xs:documentation>Company Identifier Type composite
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="cmpyIdTypeCode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Company id type code, Maps to CMPY_ID_TYP_CD
						Column from COMPANY_IDENTIFIER_TYPE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cmpyIdNo" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Company id number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updated" type="boolean" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Upadated flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="SysAdminCompanyIdentifierDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current company identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expired" type="SysAdminCompanyIdentifierDTOListType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expired company identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyIdentifierDTOListType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyIdentifierDTO" type="SysAdminCompanyIdentifierDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>>Company identifier details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyIdentifierDTO">
		<xs:annotation>
			<xs:documentation>Company Identifier Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="cmpyIdTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company id type code, Maps to CMPY_ID_TYP_CD
								Column from COMPANY_IDENTIFIER_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cmpyIdNo" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company id number.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="communicationType">
		<xs:annotation>
			<xs:documentation>Sysadmin Comm Type composite</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="phoneChannels"
				type="SysAdminCompanyPhoneChannelCompositeDTOType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone communication details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emailChannels"
				type="SysAdminCompanyAddressChannelCompositeDTOType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Email communication details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="otherChannels"
				type="SysAdminCompanyAddressChannelCompositeDTOType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Other type of communication details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyPhoneChannelCompositeDTOType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyPhoneChannelCompositeDTO"
				type="SysAdminCompanyPhoneChannelCompositeDTO" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Phone composite details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyPhoneChannelCompositeDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin phone channel composite</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interactionChannelTypeCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Interaction channel type.
						phn - Phone
						email - Email
						fax - Fax
						othr - Other
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneNumber" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneNumberExtension" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Extention.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interactionChannelComment" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updated" type="boolean" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Updated flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="SysAdminCompanyPhoneChannelDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current phone details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expired" type="SysAdminCompanyPhoneChannelDTOListType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expired phone details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyPhoneChannelDTOListType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyPhoneChannelDTO" type="SysAdminCompanyPhoneChannelDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Phone channel deatils.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyPhoneChannelDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin phone channel</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="interactionChannelTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Interaction channel type code.
								phn - Phone
								email
								- Email
								fax - Fax
								othr - Other
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumberExtension" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Extension.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelComment" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyAddressChannelCompositeDTOType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyAddressChannelCompositeDTO"
				type="SysAdminCompanyAddressChannelCompositeDTO" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Company address composite details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyAddressChannelCompositeDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin address channel composite
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="interactionChannelTypeCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Interaction channel type.
						phn - Phone
						email - Email
						fax - Fax
						othr - Other
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interactionChannelTypeAddress" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Communication address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interactionChannelComment" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Comment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="updated" type="boolean" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Updated flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="SysAdminCompanyAddressChannelDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current Communication address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expired"
				type="SysAdminCompanyAddressChannelDTOListType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expired communication address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyAddressChannelDTOListType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyAddressChannelDTO" type="SysAdminCompanyAddressChannelDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Company address details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyAddressChannelDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin address channel</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="interactionChannelTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Interaction channel type.
								phn - Phone
								email -
								Email
								fax - Fax
								othr - Other
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelTypeAddress" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Communication address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelComment" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="companyAddressType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyAddressCompositeDTO"
				type="SysAdminCompanyAddressCompositeDTO" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Company address composite details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyAddressCompositeDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin company address composite
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="addressForm" type="SysAdminCompanyAddressDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Company address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="current" type="SysAdminCompanyAddressDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expired" type="SysAdminCompanyAddressDTOListType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expired address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminCompanyAddressDTOListType">
		<xs:sequence>
			<xs:element name="sysAdminCompanyAddressDTO" type="SysAdminCompanyAddressDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Company address details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

</xs:schema>