common-intrg/src/main/resources/xsd/DisbursementExport.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="../xsd/Common.xsd" />

	<xs:annotation>
		<xs:documentation>Disbursement Export Schema.</xs:documentation>
	</xs:annotation>

	<xs:element name="clientExportDisbursementsResultDTO" type="clientExportDisbursementsResultDTOType">
		<xs:annotation>
			<xs:documentation>Claim Disbursements.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="clientExportDisbursementsResultDTOType">
		<xs:annotation>
			<xs:documentation>AP Export result.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="totalRecordCount" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="totalDisbursementAmount" type="dollarAmount"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total payable export amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="executionDate" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Run date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="accountingDate" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Accounting date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="paymentList" type="paymentListType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="paymentListType">
		<xs:annotation>
			<xs:documentation>Collection of payments.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="payment" type="ClientPaymentHeaderDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim payments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="ClientPaymentHeaderDTO">
		<xs:annotation>
			<xs:documentation>Payment header.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentHeaderDTO">
				<xs:sequence>
					<xs:element name="lobId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>LOB id, Maps to CMPY_LOB_ID Column from
								COMPANY_LINE_OF_BUSINESS_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lobCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>LOB Code, Maps to LOB_CD Column from
								COMPANY_LINE_OF_BUSINESS_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lobName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>LOB Name, Maps to CMPY_LOB_NM Column from
								COMPANY_LINE_OF_BUSINESS_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accountingBusinessDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Accounting business date.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentCommonDTO">
		<xs:annotation>
			<xs:documentation>Payment common.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="recordTypeId" type="long" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment record type id.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentHeaderDTO">
		<xs:annotation>
			<xs:documentation>Payment header.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="payorAdddressId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payor address id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="controlNumber" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Control number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disbursmentId" type="long" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disbursementNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentRequestTarget" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment request.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentMethodType" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment method type, Maps to PAY_METH_PRF_CD
								Column from PAYMENT_METHOD_PREFERENCE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="referenceNumber" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkExpireDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Check expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentID" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bank name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankRoutingNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bank routing number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankAccountNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bank account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorNameLine1" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payor name 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorNameLine2" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payor name 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorAddressLine1" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorAddressLine2" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorCity" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorState" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorAddressZip" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorCountry" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorPhoneNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payor phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="recordType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Record type.
								I - Issued
								P - Paid
								S - Stop
								V - Void
								E - Escheated
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corporationId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corp id, Maps to CORP_ID Column from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company id, Maps to CMPY_ID Column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyOrgUnitId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company org team id, Maps to CMPY_ORG_UNT_ID
								Column from COMPANY_ORGANIZATION_UNIT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="voidDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Void date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="stopPaymentDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stop payment date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="stopPaymentNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stop payment number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="printGroupCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Print group code, Maps to DSB_PRNT_GRP_CD
								Column from DISBURSEMENT_PRINT_GROUP_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dipoCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DIPO Code, Maps to DIPO_CD Column from
								DISBURSEMENT_IN_PAYMENT_OF_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comment" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disbursementAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dipoName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DIPO Name, Maps to DIPO_NM Column from
								DISBURSEMENT_IN_PAYMENT_OF_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailHeader" type="paymentDetailHeaderType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment detail header.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentPayeeCheck" type="paymentPayeeCheckType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee check type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentPayeeEFT" type="paymentPayeeEFTType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee EFT Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentProfile" type="paymentProfileType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment profile list.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentTrailer" type="PaymentTrailerDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment trailer.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentProfileType">
		<xs:annotation>
			<xs:documentation>Collection of payment profiles.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentProfileDTO" type="PaymentProfileDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Payment custom profiles.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentProfileDTO">
		<xs:annotation>
			<xs:documentation>Payment profile</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="profileId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile id, Maps to PRFL_STMT_ID Column from
								PROFILE_STATEMENT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payDetailControlDetailCount" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment deatil count.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDetailHeaderType">
		<xs:annotation>
			<xs:documentation>Collection of payment detail headers.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDetail" type="PaymentDetailHeaderDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Payment detail headers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentDetailHeaderDTO">
		<xs:annotation>
			<xs:documentation>Payment detail header.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentDetailCommonDTO">
				<xs:sequence>
					<xs:element name="paymentType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment type, clmpay - Claim payment.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="context" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Context, Maps to AGRE_TYP_CD Column from
								AGREEMENT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailAgencyCommission" type="paymentDetailAgencyCommissionType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency commission.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailAgencyPayment" type="paymentDetailAgencyPaymentType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency payment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailBilling" type="paymentDetailBillingType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment billing detail.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailPolicy" type="paymentDetailPolicyType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment policy detail.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDividendPayment" type="paymentDividendPaymentType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dividend payment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentUnidentifiedCashReceiptRefund"
						type="paymentUnidentifiedCashReceiptRefundType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cash receipt refund.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailClaim" type="paymentDetailClaimType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment claim detail.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailTrailer" type="PaymentDetailTrailerDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment tariler.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDetailAgencyCommissionType">
		<xs:annotation>
			<xs:documentation>Collection of Agency commission.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDetailAgencyCommissionDTO" type="PaymentDetailAgencyCommissionDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Agency commission payment deatils.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentDetailAgencyCommissionDTO">
		<xs:annotation>
			<xs:documentation>Payment agency commission.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="statementId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Statement id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyEffectiveDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="commissionRate" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Commission rate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="commissionAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Commission amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cmsnEffectiveDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Commisssion effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cmsnEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Commission expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comment" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comments.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="insuredName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Insured name.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDetailAgencyPaymentType">
		<xs:annotation>
			<xs:documentation>Collection of Agency payments</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDetailAgencyPaymentDTO" type="PaymentDetailAgencyPaymentDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Agency payment details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentDetailAgencyPaymentDTO">
		<xs:annotation>
			<xs:documentation>Agency payment</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="agencyPartyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="city" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressZip" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="country" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency number.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDetailBillingType">
		<xs:annotation>
			<xs:documentation>Collection of billing payments.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDetailBillingDTO" type="PaymentDetailBillingDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Billing payment details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentDetailBillingDTO">
		<xs:annotation>
			<xs:documentation>Billing payment.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="accountNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryPayerName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Parimary payer name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="city" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressZip" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="country" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDetailPolicyType">
		<xs:annotation>
			<xs:documentation>Collection of policy payments.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDetailPolicyDTO" type="PaymentDetailPolicyDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Policy payment details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentDetailPolicyDTO">
		<xs:annotation>
			<xs:documentation>Policy payment</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="policyNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accountNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyStatus" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy status, Maps to PLCY_STS_TYP_CD Column
								from POLICY_STATUS_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyEffectDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bussName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Business name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dbaName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>DBA Name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressLine1" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressLine2" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyCity" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency city.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyState" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressZip" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency zip.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyCountry" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Person name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agentAddressLine1" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agent address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agentAddressLine2" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agent address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agentCity" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agent city.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agentState" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agent state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agentAddressZip" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agent zip.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agentCountry" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agent country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agentNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agent number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="premiumAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Premium amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comment" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comments.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDividendPaymentType">
		<xs:annotation>
			<xs:documentation>Collection dividend payments.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDividendPaymentDTO" type="PaymentDividendPaymentDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Dividend payments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentDividendPaymentDTO">
		<xs:annotation>
			<xs:documentation>Dividend payment.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="planName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Plan name, Maps to PLN_CD Column from PLAN_CD
								Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="firstValuationDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>First valuation date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="secondValuationDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Second valuation date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossPercent" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss percentage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dividendPercent" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dividend percentage.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dividendTotalAmt" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dividend amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="firstValuationPayAmt" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>First valuation payment amount.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="secondValuationPayAmt" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Second valuation payment amount.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="comment" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comments.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="annualPremiumAmt" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Annual premium amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dividendFlag" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Dividend flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentUnidentifiedCashReceiptRefundType">
		<xs:annotation>
			<xs:documentation>Collection of Cash receipt refunds
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentUnidentifiedCashReceiptRefundDTO"
				type="PaymentUnidentifiedCashReceiptRefundDTO" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Cash receipt refund disbursements.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentUnidentifiedCashReceiptRefundDTO">
		<xs:annotation>
			<xs:documentation>Cash receipt refund.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="refundUnidentifiedCashReceipt" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unified cash receipt.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkNumber" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Check number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Check date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="checkAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Check amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentDetailCommonDTO">
		<xs:annotation>
			<xs:documentation>Common payment detail.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="detailControlNumber" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment control number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="contextId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Context id.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDetailClaimType">
		<xs:annotation>
			<xs:documentation>Collection of claim payment details.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDetailClaimDTO" type="ClientPaymentDetailClaimDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim payment details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="ClientPaymentDetailClaimDTO">
		<xs:annotation>
			<xs:documentation>Claim payment detail.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentDetailClaimDTO">
				<xs:sequence>
					<xs:element name="claimParticipant" type="claimParticipantType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim participants</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="claimParticipantType">
		<xs:annotation>
			<xs:documentation>Collection of claim participants.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimParticipantData" type="PaymentClaimParticipantData"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim payment participants.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentClaimParticipantData">
		<xs:annotation>
			<xs:documentation>Claim payment participant.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="participantName" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Participant name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="participationType" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Participation type, Maps to PTCP_TYP_CD Column
						from PARTICIPATION_TYPE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="customerNumber" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdNumber" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine1" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address line 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine2" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address line 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressCity" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressState" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>State.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressCountry" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressZipcode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PaymentDetailClaimDTO">
		<xs:annotation>
			<xs:documentation>Claim payment detail.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="claimId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim type, Maps to CLM_TYP_CD Column from
								CLAIM_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimStatusCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim status code, Maps to CLM_STS_CD Column
								from CLAIM_STATUS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimStateCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim state code, Maps to CLM_STT_CD Column
								from CLAIM_STATE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss description.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lineOfBusiness" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Line of business, Maps to LOB_CD Column from
								COMPANY_LINE_OF_BUSINESS_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyLobId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company LOB id, Maps to CMPY_LOB_ID Column from
								COMPANY_LINE_OF_BUSINESS_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyPeriodBeginDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy term begin date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyPeriodEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy term end date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="plcyJurisdictionId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy jurisdiction id, Maps to JUR_ID Column
								from JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="occurrenceDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Occurance date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="occurrenceTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Occurance time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="occurrenceTimeZone" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Occurance time zine, Maps to TIME_ZN_CD Column
								from TIME_ZONE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimMadeTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim made time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimMadeDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim made date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimMadeTimeZone" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim made time zone, Maps to TIME_ZN_CD Column
								from TIME_ZONE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimJursidicationId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim jurisdiction id, Maps to JUR_ID Column
								from JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossLocationState" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss location state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="natureOfInjury" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nature of injury.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="causeOfInjury" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cuse of injury.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partOfBodyCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Part of body code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participantName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participationType" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant type, Maps to PTCP_TYP_CD Column
								from PARTICIPATION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="customerNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Customer number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax identifier number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2, </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressCity" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressState" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stet</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressCountry" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressZipcode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalRegion" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal region code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossTime" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossTimeZone" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss time zone, Maps to TIME_ZN_CD Column from
								TIME_ZONE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossJursidicationId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss jurisdiction id, Maps to JUR_ID Column
								from JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="benefitJursidicationId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Benefit jurisdiction id, Maps to JUR_ID Column
								from JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker name, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerTaxIdNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker tax id number, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerAddressLine1" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker address line 1, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerAddressLine2" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker address line 2, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerAddressCity" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker city, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerAddressState" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker state, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerPostalCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker postal code, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerAddressCountry" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker country, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="injuredWorkerCustomerNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Injured worker customer number, (Workers Comp)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressLine1" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressLine2" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressCity" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency city.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressState" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency state.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyPostalCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyAddressCountry" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyCustomerNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency customer number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adjusterName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adjuster name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adjusterTitle" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adjuster title.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adjusterOffice" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adjuster office.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adjusterPhoneNumber" type="phoneType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adjuster phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adjusterFaxNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adjuster fax number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="adjusterEmailAddress" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Adjuster email.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailItemClaim" type="paymentDetailItemClaimType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim payment detail.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimPaymentAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim payment amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentDetailItemClaimType">
		<xs:annotation>
			<xs:documentation>Collection of Claim payment items.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentDetailItemClaimDTO" type="PaymentDetailItemClaimDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim payment item details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentDetailItemClaimDTO">
		<xs:annotation>
			<xs:documentation>Claim payment item.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="transactionType" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction type, Maps to FNCL_TRAN_TYP_NM
								Column from FINANCIAL_TRANSACTION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit type, Maps to UNT_TYP_CD Column from
								UNIT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit description.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitParticipantName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit participant name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveStatus" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve status, Maps to CLM_RSRV_STS_NC_CD
								Column from CLAIM_RESERVE_STATUS_NC_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="coverageTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Coverage type name, Maps to COV_NM Column from
								COVERAGE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="coverageTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Coverage type code, Maps to COV_CD Column from
								COVERAGE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve type name, Maps to CLM_RSRV_TYP_NM
								Column from CLAIM_RESERVE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve type code, Maps to CLM_RSRV_TYP_CD
								Column from CLAIM_RESERVE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossTypeName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss type name, Maps to CLM_LOSS_TYP_NM Column
								from CLAIM_LOSS_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossTypeCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss type code, Maps to CLM_LOSS_TYP_CD Column
								from CLAIM_LOSS_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ftcId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim financial transaction id.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company id, Maps to CMPY_ID Column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment type code, Maps to PAY_METH_PRF_CD
								Column from PAYMENT_METHOD_PREFERENCE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment type name, Maps to PAY_METH_PRF_NM
								Column from PAYMENT_METHOD_PREFERENCE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentDetailAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment detail amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="surchangeIndicator" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Surcharge indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction type code, Maps to FNCL_TRAN_TYP_CD
								Column from FINANCIAL_TRANSACTION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="invoiceId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Invoide id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="invoiceNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Invoice number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="invoiceDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Invoice date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="serviceEffectiveDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Service effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="serviceEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Service end date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disbursementId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetoryTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary type code, Maps to CLM_MNY_TYP_CD
								Column from CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetoryTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary type name, Maps to CLM_MNY_TYP_NM
								Column from CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="montetoryCategoryCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary category code, Maps to CLM_MNY_CTG_CD
								Column from CLAIM_MONETARY_CATEGORY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payableId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payable id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimPaymentAllocatedAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim payment allocated amount.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionTypeId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction type id.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentTrailerDTO">
		<xs:complexContent>
			<xs:extension base="PaymentTrailerCommonDTO">
				<xs:sequence>
					<xs:element name="paymentHeader" type="PaymentHeaderDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment headers.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentTrailerCommonDTO">
		<xs:annotation>
			<xs:documentation>Payment common trailer</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="itemCount" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Item count.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="summaryAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Summary totals.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentPayeeEFTType">
		<xs:annotation>
			<xs:documentation>Collection of EFT payments</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="paymentPayeeEFTDTO" type="PaymentPayeeEFTDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>EFT payment details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentPayeeEFTDTO">
		<xs:annotation>
			<xs:documentation>EFT Payment info.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentPayeeCommonDTO">
				<xs:sequence>
					<xs:element name="payeeRoutingNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee routing number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeeAccountNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeeAccountType" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee account type, Maps to
								DBI_BANK_ACCT_TYP_CD_PAYE Column from DISBURSEMENT_BANKING_INFO Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorRoutingNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payor routing number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorAccountNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payor account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payorAccountType" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payor account type.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryPayeePartyNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary payee party number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requestedBy" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment Requestor.</xs:documentation>
						</xs:annotation>
					</xs:element>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentPayeeCheckType">
		<xs:sequence>
			<xs:element name="paymentPayeeCheckDTO" type="PaymentPayeeCheckDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Check payment details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="PaymentPayeeCheckDTO">
		<xs:annotation>
			<xs:documentation>Check payment info</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentPayeeCommonDTO">
				<xs:sequence>
					<xs:element name="requestedBy" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment Requestor.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>			
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentPayeeCommonDTO">
		<xs:annotation>
			<xs:documentation>Common payment info.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="primaryPayeeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Parimary payee name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="secondaryPayeeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Secondary payee name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="inCareOfPayeeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>In care of payee name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="city" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="state" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressZip" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="country" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="faxNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Fax number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cresPreference" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Preference.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryPayeePartyId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary payee id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="vendorAccountsPayableTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Vendor AP paybale type code, Maps to
								VEND_TYP_CD Column from VENDOR_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="vendorAccountsPayableRefNo" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Vendor AP Ref number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyPayOrdOfNameDerived" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Vendor pay to the order.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="PaymentDetailTrailerDTO">
		<xs:annotation>
			<xs:documentation>Payment trailer.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PaymentCommonDTO">
				<xs:sequence>
					<xs:element name="itemCount" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Item count.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>

