common-intrg/src/main/resources/xsd/PartySearchResult.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="../xsd/Party.xsd" />

	<xs:annotation>
		<xs:documentation>Party search result schema</xs:documentation>
	</xs:annotation>

	<xs:complexType name="PartySearchResult">
		<xs:annotation>
			<xs:documentation>The result of a party search.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partyId" type="long" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal party id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyTypeCode" type="string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of party: 'pers' or 'org' (see
						PARTY_TYPE_CD)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyTypeName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deprecated 'Organization' or 'Person'
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personGenderCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gender Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personMaritalStatusCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Marital Status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="dateType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person DOB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfDeath" type="dateType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person Date of Death</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Formatted (display) name of the primary 'First
						Middle Last' for people and the organization name for businesses.
						Only filled if criteria includeName is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOther" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This is not used, Info available in
						primaryDBAName and secondaryDBAName elements
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>First name for people, unused for organizations.
						Only filled if criteria includeName is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last name for people, unused for organizations.
						Only filled if criteria includeName is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Middle name for people, unused for organizations.
						Only filled if criteria includeName is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="effectiveDate" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endDate" type="dateType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="literalDescriptionMap" type="collectionType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Literal Map</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyGeneralDetail" type="PartyGenerailDetailsDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PartyGeneralDetails</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="participationDetails" type="agreementPtcpType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collection of Participant Agreement Types
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationDetails" type="interactionChannelCompositeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collection of Communication Types
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addresses" type="addressType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collection of Addresses</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="taxIdentifierTypeCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax identifier type, Maps to TAX_ID_TYP_CD Column
						from TAX_IDENTIFIER_TYPE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifierSequence" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax identifier sequence.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifierEffDate" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax id effective date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifierEndDate" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax id expiry date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressId" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal address id, Only filled if criteria
						includeAddress is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine1" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Street number and name, Only filled if criteria
						includeAddress is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine2" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address line 2, Only filled if criteria
						includeAddress is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressCity" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City, Only filled if criteria includeAddress is
						true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressRegionId" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal id for the postal service region (see
						POSTAL_SERVICE_REGION_CD), Only filled if criteria includeAddress
						is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressState" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>State, Only filled if criteria includeAddress is
						true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressCountry" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country, Only filled if criteria includeAddress
						is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressZipcode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Zipcode, Only filled if criteria includeAddress
						is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationType" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code for the type of communication (see
						USAGE_TYPE_CD), Only filled if criteria includeCommunication is
						true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="communicationValue" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Depends on communicationType, could be an email
						address, phone number, etc, Only filled if criteria
						includeCommunication is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifier" type="taxType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>SSN for people or TIN for organizations, Only
						filled if criteria includeTaxInfo is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="routingNumber" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Financial institution routing number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>unused</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressCountryCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code for the country (COUNTRY_CD), Only filled if
						criteria includeAddress is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressStateCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Code for the state (POSTAL_SERVICE_REGION_CD).
						Only filled if criteria includeAddress is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contextName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Formatted (display) name of the primary 'First
						Middle Last' for people and the organization name for businessesif
						criteria includeName is true
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contextId" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Internal party id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country code, Maps to CNTRY_CD Column from
						COUNTRY_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countyName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>County name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyCustomerBlockId" type="long"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party block identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyVendorBlockId" type="long"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vendor block identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PartyGenerailDetailsDTO">
		<xs:annotation>
			<xs:documentation>Party General Details</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithImportDTO">
				<xs:sequence>
					<xs:element name="primaryDbaName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary Org Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="language" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Language</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="additionalDBAName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Secondary Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roles" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party role</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aliasNames" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Alias name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Title</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="suffix" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Suffix</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="gender" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Gender</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maritalStatus" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Marital status</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="customerNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="source" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party source</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateOfDeath" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date of death</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdentifierTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax identifier type, Maps to TAX_ID_TYP_CD
								Column from TAX_IDENTIFIER_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdentifierSequence" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax identifier sequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyCountry" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party country code, Maps to CNTRY_CD Column
								from COUNTRY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>