common-intrg/src/main/resources/xsd/ProfileCommon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation>Profiles Schema.</xs:documentation>
	</xs:annotation>

	<xs:complexType name="ProfileStatementItemType">
		<xs:annotation>
			<xs:documentation>Collection of Profile Statements</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="profileStatementItem" type="ProfileStatementItem"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Profile statement items.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>


	<xs:complexType name="ProfileStatementItem">
		<xs:annotation>
			<xs:documentation>Profile Statement</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="profileStatementId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Statement id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileStatementNestedId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>is null when top level statement
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="psnsId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>is null when top level statement, this is used
								to persist profile statemets for components like party.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileStatementCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile statement code, Maps to
								PRFL_STMT_TYP_CD Column from PROFILE_STATEMENT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="statementResponseTypeCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile statement response type code, Maps to
								STMT_RSPNS_TYP_CD Column from PROFILE_STATEMENT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="required" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Required flag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataTypeCd" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Data type code, Maps to PRFL_DATA_TYP_CD Column
								from PROFILE_DATA_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataRetrieveCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Data retriever code, Maps to DATA_RTRV_CD
								Column from	DATA_RETRIEVER_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="statementDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile statement description, Maps to
								PRFL_STMT_DESC Column from PROFILE_STATEMENT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="responseLength" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile statement response length.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="answer" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile statement response.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileStmtVisibleInd" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile statement visibility indicator, Maps to
								PRFL_STMT_MAP_VSBL_IND Column from PROFILE_STATEMENT_MAP_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileStmtProtectedInd" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile statement protection indicator, Maps to
								PRFL_STMT_MAP_RSPNS_PTCT_IND Column from PROFILE_STATEMENT_MAP_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="defaultAnswer" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>This attribute is specific to policy coverages
								delete flow, we require it for storing the default values for
								the profile statement.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enable" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Enable flag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="listSelectionValueCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Selection value code, Maps to
								PRFL_LIST_SEL_VAL_CD Column	from PROFILE_LIST_SELECTION_VAL_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileSection" type="profileSelectionType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>List of Profile Statement Selection
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileAreaCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile area code, Maps to PRFL_AREA_CD Column
								from PROFILE_AREA_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileSubAreaCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile subarea code, Maps to PRFL_SUBAREA_CD
								Column from PROFILE_SUBAREA_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileSubAreaCategoryCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile subarea category code, Maps to
								PRFL_SUBAREA_CTG_CD Column from PROFILE_SUBAREA_CATEGORY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="contextId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile Context Id, id corresponding to the
								context for ex: claimId for clm context.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="contextTypeCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Context type code, Maps to AGRE_TYP_CD Column
								from AGREEMENT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subcontextAssocTypeCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Subcontext type code, Maps to AGRE_SUBTYP_CD
								Column from AGREEMENT_SUBTYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subcontextAssocId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Subcontext id, id corresponding to the context
								for ex: claimpartcipantId for clmptcp context
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileMappingEndDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile mapping expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileSelectionEndDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile selection expiry date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileSubStatementEndDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile substatement expiry date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="displayOrder" type="xs:integer"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile substatement UI display order.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="profileSelectionType">
		<xs:sequence>
			<xs:element name="profileStatementSelection" type="ProfileStatementSelection"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Statement selection type list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="ProfileStatementSelection">
		<xs:annotation>
			<xs:documentation>Passed as an agrument during login.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="selectionvaluetypecode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Selected value type code, Maps to
						PRFL_LIST_SEL_VAL_CD Column from PROFILE_LIST_SELECTION_VAL_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selectionvaluetypename" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Selected value type name, Maps to
						PRFL_LIST_SEL_VAL_NM Column from PROFILE_LIST_SELECTION_VAL_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profileSelectionEndDateTime" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Selection expiry date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profileItem" type="ProfileStatementItemType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation>nested statements</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProfileStatementBaseDTO">
		<xs:annotation>
			<xs:documentation>Profile Base statement object.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="profileStatementId" type="long"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Statement id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileStatementNestedId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nested statement id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="psnsId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Nested id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileAreaCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile area code, Maps to PRFL_AREA_CD Column
								from PROFILE_AREA_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileSubAreaCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile subarea code, Maps to PRFL_SUBAREA_CD
								Column from PROFILE_SUBAREA_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileSubAreaCategoryCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile subarea category code, Maps to
								PRFL_SUBAREA_CTG_CD Column from PROFILE_SUBAREA_CATEGORY_CD	Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileResponseText" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Profile response.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="associatedProfileItem" type="ProfileStatementItem"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Associated profiles.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>	