common-intrg/src/main/resources/xsd/UserDetailResponse.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../xsd/Common.xsd" />

	<xs:annotation>
		<xs:documentation>Stream User Detail Response Schema.
		</xs:documentation>
	</xs:annotation>

	<xs:element name="clientUserDetailsCompositeDTO" type="clientUserDetailsCompositeDTOType">
		<xs:annotation>
			<xs:documentation>User details.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="clientUserDetailsCompositeDTOType">
		<xs:sequence>
			<xs:element name="userId" type="int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stream user id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userInfoDTO" type="UserInfoDTOType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User Details</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userCommInformationCompositeDTO" type="UserCommInformationCompositeDTOType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User Communication Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userCredentialInfoCompositeDTO" type="UserCredentialInfoCompositeDTOType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User Credentials</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userAuthorizationInfoCompositeDTO" type="UserAuthorizationInfoCompositeDTOType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User Authorization Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="workGroupInfoCompositeDTO" type="WorkGroupInfoCompositeDTOType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User Workgroup Info</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userSecurityGroupCompositeDTO" type="UserSecurityGroupsType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User security Group composite</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userAuthorizationLimits" type="UserAuthorizationLimitsType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User Financial Auth Limits</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UserAuthorizationLimitsType">
		<xs:annotation>
			<xs:documentation>Collection of user authorization limits
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="clientUserAuthorizationLimitDTO" type="ClientUserAuthorizationLimitDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>User Auth limits.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="ClientUserAuthorizationLimitDTO">
		<xs:sequence>
			<xs:element name="authorizationType" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Authorization Type, Maps to AUTH_TYP_NM Column
						from AUTHORIZATION_TYPE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="authorizationLimit" type="dollarAmount"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Authorization Limit, Maps to
						SEC_GRP_AUTH_TYP_DEF_VAL_NO Column from	SECURITY_GROUP_AUTH_TYP_DEF_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="coverageType" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Coverage Type, Maps to CLM_COV_CD from
						CLAIM_COVERAGE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="monetaryCategory" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monetary Category, Maps to CLM_MNY_CTG_CD Column
						from CLAIM_MONETARY_CATEGORY_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jurisdictionId" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Jurisdiction Id, Maps to JUR_ID from
						JURISDICTION_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lob" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Company LOB Id, Maps to CMPY_LOB_ID from
						COMPANY_LINE_OF_BUSINESS_XREF Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="UserSecurityGroupsType">
		<xs:annotation>
			<xs:documentation>Security Groups for the User</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="userSecurityGroups" type="UserSecurityGroupDTOType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User security groups.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UserSecurityGroupDTOType">
		<xs:annotation>
			<xs:documentation>Collection of security groups</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userSecurityGroupDTO" type="UserSecurityGroupDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Security groups.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="UserSecurityGroupDTO">
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stream user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="securityGroupCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Security Group code, Maps to SEC_GRP_CD Column
								from SECURITY_GROUP_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company name, Maps to CMPY_NM Column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corpName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corporation name, Maps to CORP_NM column from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company id, Maps to CMPY_ID column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corpId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corporation id, Maps to CORP_ID column from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="securityGroupName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Security group name, Maps to SEC_GRP_NM column
								from SECURITY_GROUP_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WorkGroupInfoCompositeDTOType">
		<xs:annotation>
			<xs:documentation>User Workgroup Composite</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stream user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userWorkGroupInfo" type="UserWorkGroupInfoType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User work group list</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

	<xs:complexType name="UserWorkGroupInfoType">
		<xs:annotation>
			<xs:documentation>Collection of user work group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userWorkGroupInfoDTO" type="UserWorkGroupInfoDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>User workgroup details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="UserWorkGroupInfoDTO">
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="companyId" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company id, Maps to CMPY_ID column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corpId" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corporation id, Maps to CORP_ID column from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company name, Maps to CMPY_NM column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corpName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corporation name, Maps to CORP_NM column from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userId" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stream user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orgUnitId" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Team/Office id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orgUnitName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User office id, Maps to CMPY_ORG_UNT_NM column
								from COMPANY_ORGANIZATION_UNIT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="functionRoleCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User functional role, Maps to FNCT_ROLE_CD
								column from FUNCTIONAL_ROLE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supervisorIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Supervisor flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userDispNm" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Display user name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userFirstNm" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>First name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userLastNm" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Last name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="email" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNo" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extNo" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Extension.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

	<xs:complexType name="UserAuthorizationInfoCompositeDTOType">
		<xs:annotation>
			<xs:documentation>User authorization composite</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stream user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userAuthorizationInfoDTO" type="UserAuthorizationInfoDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User authorization detils</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externUserAccessList" type="ExternUserAccessListType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>External user access list</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ExternUserAccessListType">
		<xs:annotation>
			<xs:documentation>Collection of external user access.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="externalUserAccessCompositeDTO" type="ExternalUserAccessCompositeDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>External user access.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="UserAuthorizationInfoDTO">
		<xs:annotation>
			<xs:documentation>User authorization information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="loginId" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Login user id, Maps to USER_LGN_ID column from
								USER_LOGIN_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="password" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Login user password</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="confirmPassword" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Confirmation password</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="resetPasswordInd" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reset password flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="loginSetDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Login date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stream user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="loginIdGeneration" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Login id generation type</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

	<xs:complexType name="ExternalUserAccessCompositeDTO">
		<xs:annotation>
			<xs:documentation>External user access composite.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partyId" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyTypeCode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party type code, Maps to PARTY_TYP_CD column from
						PARTY_TYPE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userAccessEffectiveDate" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Access effective date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userAccessEndDate" type="dateType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Access end date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysAdminPartySummaryDTO" type="SysAdminPartySummaryDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party summary.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="userPartyAccessDTO" type="UserPartyAccessDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User access.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminPartySummaryDTO">
		<xs:annotation>
			<xs:documentation>Sysadmin Party summary Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="partyId" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyNumber" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homePhone" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Home phone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cellPhone" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cell phone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="businessPhone" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Business phone.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Email.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fax" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fax number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="websiteAddress" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Website address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifierNumber" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax identification number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sysAdminAddressSummaryDTO" type="SysAdminAddressSummaryDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>User address summary.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SysAdminAddressSummaryDTO">
		<xs:annotation>
			<xs:documentation>User address details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="addressLn1" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address line 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyId" type="long" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLn2" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Line 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regionCd" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Region code, Maps to PSTL_SERV_RGN_ABRV column
						from POSTAL_SERVICE_REGION_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCd" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Zip code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UserPartyAccessDTO">
		<xs:annotation>
			<xs:documentation>User access type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="partyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User id.</xs:documentation>
						</xs:annotation>
					</xs:element>			
					<xs:element name="effectiveDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userPartyAccessParticipations" type="UserPartyAccessParticipationsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Party user participations.</xs:documentation>
						</xs:annotation>					
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="UserPartyAccessParticipationsType">
		<xs:annotation>
			<xs:documentation>Collection of Party Partcipants</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userPartyAccessParticipationDTO" type="UserPartyAccessParticipationDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>User party access.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>
	
	<xs:complexType name="UserPartyAccessParticipationDTO">
	<xs:annotation>
		<xs:documentation>User Party Access.</xs:documentation>
	</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="participationTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participation type code, Maps to PTCP_TYP_CD
								column from PARTICIPATION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agreementTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agreement type code, Maps to AGRE_TYP_CD column
								from AGREEMENT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="effectiveDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>	

	<xs:complexType name="UserCredentialInfoCompositeDTOType">
		<xs:annotation>
			<xs:documentation>User credentials composite</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stream user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userCredentialDetails" type="UserCredentialDetailsType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stream user credentials</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UserCredentialDetailsType">
		<xs:annotation>
			<xs:documentation>Collection of user credentials</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userCredentialDTO" type="UserCredentialDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>User credential details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="UserCredentialDTO">
		<xs:annotation>
			<xs:documentation>User Credentials</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="userIdCreated" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Created user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Created date time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdUpdated" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Updated user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="updatedDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Updated date time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jurisdictionId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Jurisdiction id, Maps to JUR_ID column from
								JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="credentialTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Credential type, Maps to CRDNTL_TYP_CD column
								from CREDENTIAL_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="credentialReferenceNo" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reference number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="effectiveDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userId" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="credentialTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Credential type name.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UserCommInformationCompositeDTOType">
		<xs:annotation>
			<xs:documentation>User Communication composite</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="userId" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userEmailAddr" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="emailInd" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="txtMessageInd" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Text message indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userPhoneInfo" type="UserPhoneInfoType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone contact details.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userWorkNotificationTime" type="UserWorkNotificationTimeDTOType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User Notification Time.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UserWorkNotificationTimeDTOType">
		<xs:annotation>
			<xs:documentation>Collection of user Work Notification.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userWorkNotificationTimeDTO" type="UserWorkNotificationTimeDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>User work notification.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="UserWorkNotificationTimeDTO">
		<xs:annotation>
			<xs:documentation>User work notification.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteDTO">
				<xs:sequence>
					<xs:element name="from" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>From datetime.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="through" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>To datetime.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User id.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UserPhoneInfoType">
		<xs:annotation>
			<xs:documentation>Collection of Phone info.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userPhoneDTO" type="UserPhoneDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>User phone details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="UserPhoneDTO">
		<xs:annotation>
			<xs:documentation>User Phone info.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="userId" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone type, Maps to PHN_TYP_CD column from
								PHONE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone type name, Maps to PHN_TYP_NM column from
								PHONE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNo" type="phoneType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extNo" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Extension.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Parimary flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UserInfoDTOType">
		<xs:annotation>
			<xs:documentation>User information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="userIdCreated" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Created user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Created date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userIdUpdated" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Updated user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="updatedDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Updated date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userNumber" type="int" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userTypeCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User type code, Maps to USER_TYP_CD column from
								USER_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="title" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User Role title, Maps to USER_TYP_CD column
								from USER_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="firstName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>First name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Last name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="middleName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Middle name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userTitle" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User title.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSuffix" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User suffix.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateofHire" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Hire date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workWeek" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work week.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supervisorUserId" type="int"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Supervisor id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="supervisesOthers" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Supervise flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workThreshold" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work load threshold.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="signatureFileName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User signature file.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userPhotoFileName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User picture file.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userNameResource" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User name resource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="effectiveDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userEmailAddr" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userWorkLevel" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User work level.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workTimeZone" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work time zone.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="emailInd" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="txtMessageInd" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Test message indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userDisplayNameUpperCaseSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Searchable user name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userDisplayName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User diaplay name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personOther" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Other person name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="languages" type="languagesType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Languages.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userImage" type="UserImageDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User image.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="UserImageDTO">
		<xs:annotation>
			<xs:documentation>User Image Info</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="image" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User image.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="languagesType">
		<xs:annotation>
			<xs:documentation>Collection of languages</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="userLanguageDTO" type="UserLanguageDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>User languages.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="UserLanguageDTO">
		<xs:annotation>
			<xs:documentation>User language</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="languageTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Language type code, Maps to LANG_CD column from
								LANGUAGE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryLanguageIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>