common-intrg/src/test/resources/xsd/Address.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../xsd/Common.xsd" />
	<xs:include schemaLocation="../xsd/ProfileCommon.xsd" />

	<xs:complexType name="AddressChannelDTO">
		<xs:annotation>
			<xs:documentation>Email Interaction channels.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteImportDTO">
				<xs:sequence>
					<xs:element name="interactionChannelTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Interaction Communication type code.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specific communication type, Maps to
								USAGE_TYPE_CD Table from USG_TYP_CD Column.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelTypeAddress" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="oldInteractionChannelTypeAddress"
						type="string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Old email address.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelComment" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelAgreementTypes"
						type="agreementType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Interaction Channel Agreement Types
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="associatedToContext" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Context types.
								clm - Claim
								plcy - Policy
								party -
								Party
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AddressDTO">
		<xs:complexContent>
			<xs:extension base="AuditWithImportDTO">
				<xs:sequence>
					<xs:element name="postalServiceRegionId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal region id, Maps to PSTL_SERV_RGN_ID
								column from POSTAL_SERVICE_REGION_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zip code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cityName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subdivisionName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>County name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="countryCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country, Maps to CNTRY_CD Column from
								COUNTRY_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalCodeExists" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Potal Code indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalSvcRegionCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State code, Maps to PSTL_SERV_RGN_ABRV Column
								from POSTAL_SERVICE_REGION_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="verifiedIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>to indicate whether address is being verified
								or not</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="overrideIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>to indicate whether address is being override
								or not</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="manualPostalRegionName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>to store manual entered State/Province name
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="longitude" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>to store longitude of address
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="latitude" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>to store latitude of address</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="legalDescriptions" type="addressLegalType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Collection of Address Legal Descriptions
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="buildings" type="buildingType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Collection of Address Buildings
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usages" type="usageType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Collection of Address Usages</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="profileStatementList" type="ProfileStatementItemType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>List of Profile Statements.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1DupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address Line 1 Duplicate Search
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2DupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address Line 2 Duplicate Search
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalCodeDupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal Code Duplicate Search</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cityNameDupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City Name Duplicate Search</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="correction" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corrected address flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="buildingType">
		<xs:sequence>
			<xs:element name="addressBuildingDTO" type="AddressBuildingDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Address Building List.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="addressLegalType">
		<xs:sequence>
			<xs:element name="addressLegalDescriptionDTO" type="AddressLegalDescriptionDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Legal addresses.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="usageType">
		<xs:sequence>
			<xs:element name="addressUsageDTO" type="AddressUsageDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Address usages.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="AddressBuildingDTO">
		<xs:complexContent>
			<xs:extension base="AuditWithExpireImportDTO">
				<xs:sequence>
					<xs:element name="yearBuilt" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Year built.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="storyCount" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of floors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Building description.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="AddressLegalDescriptionDTO">
		<xs:complexContent>
			<xs:extension base="AuditWithImportDTO">
				<xs:sequence>
					<xs:element name="sectionDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Legal section name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="townshipDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Township.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rangeDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address range.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="blockDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address block.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subdivisionDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Conunty.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lotDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Lot.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitCount" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>LOt unit count.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="AddressUsageDTO">
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="agreementTypeCd" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Aggrement type code, Maps to AGRE_TYP_CD Column
								from AGREEMENT_TYPE_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageTypeCd" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Usage type, Maps to USG_TYP_CD Column from
								USAGE_TYPE_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageStartMonth" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Usage seasonal start month.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageEndMonth" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Usage seasonal end month.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageStartDay" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Usage start day.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageEndDay" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Usgae end day.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="isSeasonal" type="boolean" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Seasonal address flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageTypeValue" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Usage type value, Maps to USG_TYP_CD Column
								from USAGE_TYPE_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agreementTypeValue" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Aggrement type value, Maps to AGRE_TYP_CD
								Column from AGREEMENT_TYPE_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="PhoneChannelDTO">
		<xs:annotation>
			<xs:documentation>Phone Interaction channels.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteImportDTO">
				<xs:sequence>
					<xs:element name="interactionChannelTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Communication channel type code.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="usageTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Usage type code, Maps to USG_TYP_CD Column from
								USAGE_TYPE_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumber" type="phoneType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="oldPhoneNumber" type="phoneType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Old phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumberExtension" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Extension.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="oldPhoneNumberExtension" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Old extension.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelComment" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="interactionChannelAgreementTypes"
						type="agreementType">
						<xs:annotation>
							<xs:documentation>Interaction Channel Agreement Types, Maps to
								AGRE_TYP_CD Column from AGREEMENT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="associatedToContext" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Associated context.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phoneNumberDupSearch" type="phoneType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone number Duplicate Search
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="agreementType">
		<xs:sequence>
			<xs:element name="interactionChannelAgreementTypeDTO"
				type="InteractionChannelAgreementTypeDTO" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Communication channel agreement type list.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="InteractionChannelAgreementTypeDTO">
		<xs:annotation>
			<xs:documentation>Interaction channel.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteImportDTO">
				<xs:sequence>
					<xs:element name="agreementTypeCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agreement type code, Maps to AGRE_TYP_CD Column
								from AGREEMENT_TYPE_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryUsageIndicator" type="boolean"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="effectiveDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="VerifyAddressDTO">
		<xs:annotation>
			<xs:documentation>Address Verification Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="postalServiceRegionId" type="long"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal Service Region Id, Maps to
						PSTL_SERV_RGN_ID from POSTAL_SERVICE_REGION_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Zip Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine1" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Line 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine2" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Line 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cityName" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subdivisionName" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Subdivision</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country, Maps to CNTRY_CD Column from COUNTRY_CD
						Table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exactMatchIndicator" type="boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Exact Match Flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalSvcRegionCode" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal Service Region Code, Maps to
						PSTL_SERV_RGN_ABRV Column from POSTAL_SERVICE_REGION_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manualPostalRegionName" type="string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal Service Name Override.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longitude" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Geographic Location, Longtitude
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latitude" type="string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Geographic Location, Latitude</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


</xs:schema>
