common-intrg/src/test/resources/xsd/ClaimRecovery.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation>Claim Recovery Schema</xs:documentation>
	</xs:annotation>

	<xs:element name="claimRecovery" type="ClaimRecovery">
		<xs:annotation>
			<xs:documentation>Claim recovery.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ClaimRecovery">
		<xs:annotation>
			<xs:documentation>Claim Recovery Details</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="claimRecoveryPayables" type="ClaimRecoveryPayableType"
						minOccurs="1">
						<xs:annotation>
							<xs:documentation>Collection of Recovery Payable Information
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimRemittance" type="ClaimRemittance"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Recovery Remittance Information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ClaimRecoveryPayableType">
		<xs:annotation>
			<xs:documentation>Recovery Payable List</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimRecoveryPayable" type="ClaimRecoveryPayable"
				minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim recovery payable list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="ClaimRecoveryPayable">
		<xs:annotation>
			<xs:documentation>Claim Recovery payable information.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="transactionType" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Type Code, 
								Maps to FNCL_TRAN_TYP_CD Column from FINANCIAL_TRANSACTION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionAmount" type="dollarAmount"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim associated to the Financial Transaction
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalClaimIdentifier" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim External Source Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalUnitIdentifier" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit External Source Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalParticipantIdentifier" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim Participant External Source Id
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="coverageType" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Coverage Type for the Transaction, 
								Maps to	CLM_COV_CD Column from CLAIM_COVERAGE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveType" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve Type Code, 
								Maps to CLM_RSRV_TYP_CD Column from CLAIM_RESERVE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss Type, 
								Maps to CLM_LOSS_TYP_CD Column from	CLAIM_LOSS_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monitoryTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary Type Code, 
								Mapped to CLM_MNY_TYP_CD Column from CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyId" type="long" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company Id, 
								Maps to CMPY_ID Column from COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lineOfBusiness" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Line Of Business</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="marketType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Market Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jurId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State (Jurisdiction) associated with the transaction, 
								Maps to JUR_ID Column from JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionComment" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment for the transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim Id of the Claim associated with the
								Financial transaction
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit Id of the Unit associated with the
								Financial transaction
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participantId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant Id of the Participant associated
								with the Financial transaction
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remittanceId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Remittance Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Type Name</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ClaimRemittance">
		<xs:annotation>
			<xs:documentation>Recovery remittance information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="transactionType" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Type Code, 
								Maps to FNCL_TRAN_TYP_CD Column from FINANCIAL_TRANSACTION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionAmount" type="dollarAmount"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalRemitterPartyNumber" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>External Remitter Party Id</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="remitterPartyNumber" type="long"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Remitter Party Id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentMethodTypeCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment Method Type Code, 
								Maps to PAY_METH_PRF_CD	Column from PAYMENT_METHOD_PREFERENCE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="receiptDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Receipt Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="receiptNumber" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Receipt Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remittanceDescription" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Receipt description for claim recovery process, 
								Maps to FNCL_CLM_RECOV_RECT_CD Column from FINANCIAL_CLAIM_RECOV_RECT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remittanceIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Remittance Indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyId" type="long" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company Id, 
								Maps to CMPY_ID Column from COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationUnit" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company Organization Unit Id to find Company's
								Bank Account Information, 
								Maps to CMPY_ORG_UNT_ID Column from COMPANY_ORGANIZATION_UNIT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lineOfBusiness" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Line Of Business</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="marketType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Market Type</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jurId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State (Jurisdiction) associated with the transaction, 
								Maps to JUR_ID Column from JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionComment" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Comment for the transaction</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyBankAccountNoCompany" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Banking Info Account Number of Company
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="financialInstitutionRouteNoCompany"
						type="string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Banking Info Routing Number of Remittabce
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Type Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remittanceId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Remittance Id</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
