common-intrg/src/test/resources/xsd/ClaimPaymentListing.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation>Payment Summary and Payment Listings for claim.
		</xs:documentation>
	</xs:annotation>

	<xs:element name="viewPaymentListingDTO" type="ViewPaymentListingDTO">
		<xs:annotation>
			<xs:documentation>Payment listing.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ViewPaymentListingDTO">
		<xs:annotation>
			<xs:documentation>Payment Listing</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="paymentNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment check number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account Pay Number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment status</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Creation date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="issuedDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pay issued date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payee" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee Name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment Type, Maps to PAY_METH_PRF_NM Column
								from PAYMENT_METHOD_PREFERENCE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payTo" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payable to name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scheduleId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schedule Identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scheduleFrom" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schedule from date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="throughDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schedule through date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participantId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim participant id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimUnitId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim unit id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="covCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim coverage code, Maps to CLM_COV_CD Column
								from CLAIM_COVERAGE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim reserve id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disbursementId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossPaid" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss Paid amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="expPaid" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expense paid amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pay amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalPaid" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Total paid amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeeAddressLine1" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee address line 1</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeeAddressLine2" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee address line 2</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeeCity" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee city</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeePostalCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee postal code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeeState" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee state</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="payeeCountry" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payee country</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment type code, Maps to PAY_METH_PRF_CD
								Column from PAYMENT_METHOD_PREFERENCE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdUser" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Created by user.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="allocatedAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Allocated amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disbStateCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement state type code, Maps to
								DSB_STT_TYP_CD Column from DISBURSEMENT_STATE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="disbStatusCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement status type code, Maps to
								DSB_STS_TYP_CD Column from DISBURSEMENT_STATUS_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ftcId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Financial transaction id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim payment party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="issuePaymentAuthId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Authorized user id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pendingdisbursementId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pending payment id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="invoiceNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Invoice number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="invoiceDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Invoice date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="serviceEffectiveDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Service effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="serviceEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Service expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="surchargeIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment surcharge flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bulkPayId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bulk Payment id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="firstName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Disbursement party first name
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="middleName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party middle name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party last name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party type code, Maps to PARTY_TYP_CD Column
								from PARTY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="escheatDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unclaimed prop payment date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="stopPayDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stop payment date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="staleDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Stale payment date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="voidDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Voided date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="clearedDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cleared date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="notImpactIncurred" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Impact incurred flag</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="viewPaymentSummaryDTO" type="ViewPaymentSummaryDTO">
		<xs:annotation>
			<xs:documentation>Payment view summary.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ViewPaymentSummaryDTO">
		<xs:annotation>
			<xs:documentation>Payment Summary</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="monetoryCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary Type code, Maps to CLM_MNY_TYP_CD
								Column from CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paidAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Paid amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossPaid" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Loss paid amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="expPaid" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expenses paid amount</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pendingLossPaid" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pending loss payment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pendingExpensePaid" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pending expense payment</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="viewClaimPaymentSchedule" type="ViewClaimScheduleLisitingCompositeDTO">
		<xs:annotation>
			<xs:documentation>Claim payment schedule.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ViewClaimScheduleLisitingCompositeDTO">
		<xs:annotation>
			<xs:documentation>Scheduled payment listing Composite
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="scheduleListings" type="paymentScheduleListingsType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Not used for Claim Import, Place holder for
								Claim Details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scheduleCollectionMapping" type="paymentScheduleLevelDetailsType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Not used for Claim Import, Place holder for
								Claim Details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="paymentScheduleListingsType">
		<xs:annotation>
			<xs:documentation>Collection of Schduled payment listings
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimPaymentScheduleListing" type="ViewClaimPaymentScheduleListing"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim payment schedule list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="paymentScheduleLevelDetailsType">
		<xs:annotation>
			<xs:documentation>Collection of payment schedule level details
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimPaymentScheduleLevelDetails" type="ClaimPaymentScheduleLevelDetails"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Payment schedule level details.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="ViewClaimPaymentScheduleListing">
		<xs:annotation>
			<xs:documentation>Schduled payment listing</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="scheduleCycleId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cycle id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scheduleId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schdule id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="startDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Begin date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDate" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End Date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="frequency" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schedule frequency</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numberOfPayments" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of payments.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="numberOfDays" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of days between payments, Maps to
								CLM_PAY_SCH_FREQ_DD Column from CLAIM_PAYMENT_SCHEDULE_FREQ_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="autoPay" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Auto pay flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="autoPayIndicator" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Auto pay indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paidAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Paid amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="remainingAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Remaining amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scheduledAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schduled amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="scheduleNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schedule number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="frequencyCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schedule frequency code, Maps to
								CLM_PAY_SCH_FREQ_CD Column from CLAIM_PAYMENT_SCHEDULE_FREQ_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="paymentAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment amount.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdBy" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Created by user.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Creation date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="statusCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schduled payment status code, Maps to
								CLM_PAY_SCH_CYC_DTL_STS_CD Column from CLAIM_PAY_SCH_CYC_DTL_STS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="status" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Scheduled payment status, Maps to
								CLM_PAY_SCH_CYC_DTL_STS_NM Column from	CLAIM_PAY_SCH_CYC_DTL_STS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ClaimPaymentScheduleLevelDetails">
		<xs:annotation>
			<xs:documentation>Payment schedule reserve level details
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="scheduleId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Schedule id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimUnitId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim unit id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimParticpantId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim participant id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimCoverageId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim coverage id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve type code, Maps to CLM_RSRV_TYP_CD
								Column from CLAIM_RESERVE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveLossTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve loss type code, Maps to CLM_LOSS_TYP_CD
								Column from CLAIM_LOSS_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveMonetoryTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve monetary type code, Maps to
								CLM_MNY_TYP_CD Column from CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>