common-intrg/src/test/resources/xsd/ClaimSearchRequest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../xsd/Common.xsd" />

	<xs:annotation>
		<xs:documentation>Claim Search Request Schema.</xs:documentation>
	</xs:annotation>

	<xs:element name="claimSearchCriteriaDTO" type="ClientClaimSearchCriteriaDTO">
		<xs:annotation>
			<xs:documentation>Claim search criteria.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ClientClaimSearchCriteriaDTO">
		<xs:complexContent>
			<xs:extension base="ClaimSearchCriteriaDTO">
				<xs:sequence>
					<xs:element name="policyParticipantName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyParticipantType" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant type, Maps to PTCP_TYP_CD Column
								from CLAIM_POLICY_PTCP_TYP_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyParticipantPartyId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant id.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ClaimSearchCriteriaDTO">
		<xs:annotation>
			<xs:documentation>Claim search criteria.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CriteriaDefaultImpl">
				<xs:sequence>
					<xs:element name="lineOfBusinessCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>LOB Code, Maps to LOB_CD Column from
								LINE_OF_BUSINESS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="insuredPartyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Insured party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="insuredName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Insured name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="insuredTaxId" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Insured tax id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyPartyId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agencyNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agency number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participantName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participantTaxId" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant tax id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participantPartyId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimantPartyId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claimant party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimantName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claimant name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimantTaxId" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claimant tax id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="catastropheCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Catastrophe code, Maps to CTRPH_CD Column from
								CATASTROPHE Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mcoCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>MCO Code, Maps to CTRPH_CD Column from
								CATASTROPHE Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="vinNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Vehicle VIN number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cityName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalSvcRegionCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>State code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalServiceRegionId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal region id, Maps to PSTL_SERV_RGN_ID
								Column from POSTAL_SERVICE_REGION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="countryCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="countyCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>County.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Zip code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="participantType" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Participant type, Maps to PTCP_TYP_CD Column
								from CLAIM_PARTICIPATION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="policyEffectiveDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Policy effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corporationCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corp code, Maps to CORP_ID Column from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company code, Maps to CMPY_ID Column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ownerId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Unit owner party id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossDateFrom" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Begin loss date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lossDateTo" type="dateType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>End loss date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aliasType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Alias type, Maps to CLM_ALIAS_NO_CD Column from
								CLAIM_ALIAS_NUMBER_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aliasNumber" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Alias number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jurisdiction" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim jusridiction, Maps to JUR_ID Column from
								JURISDICTION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimStatus" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim status, Maps to CLM_STS_CD Column from
								CLAIM_STATUS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimType" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim type, Maps to CLM_TYP_CD Column from
								CLAIM_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimIdToExcludeForRelatedClaimSearch"
						type="long" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Excluded claims for related search.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maxSearchResults" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Max records returned.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="wildcardCharacter" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Wild card char.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="catastropheTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cat type code, Maps to CTRPH_TYP_CD Column from
								CATASTROPHE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="teamId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim team id, Maps to CMPY_ORG_UNT_ID Column
								from COMPANY_ORGANIZATION_UNIT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="officeId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim office id, 
								Maps to	CMPY_ORG_UNT_ID Column from COMPANY_ORGANIZATION_UNIT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalSourceId" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim external id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim id.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>    	