common-intrg/src/test/resources/xsd/ClaimCompanyReserveType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../xsd/Common.xsd" />

	<xs:annotation>
		<xs:documentation>Claim Reserve Type Schema</xs:documentation>
	</xs:annotation>

	<xs:element name="list">
		<xs:annotation>
			<xs:documentation>Collection of Claim Company Reserve Type
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="claimCompanyReserveTypesDTO" type="ClaimCompanyReserveTypesDTO"
					minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Claim reserve types.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="ClaimCompanyReserveTypesDTO">
		<xs:annotation>
			<xs:documentation>Claim Company Reserve Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="corpName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corporation name, Maps to CORP_NM column from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="compName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company name, Maps to CMPY_NM column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="compLOBName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company LOB Name, Maps to CMPY_LOB_NM column
								from COMPANY_LINE_OF_BUSINESS_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="enterpriseLOB" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Enterprise LOB code, Maps to LOB_CD column from
								LINE_OF_BUSINESS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="thresholdAmount" type="dollarAmount"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve Threshold amount, Maps to
								CRTMCLX_RSRV_INCRS_THRSHLD_AMT column from CLM_RSRV_TYP_MNY_CTG_LOB_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="corpId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Corporation Id, Maps to CORP_ID from
								CORPORATION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="compId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company Id, Maps to CMPY_ID from COMPANY_CD
								Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="compLOBId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company LOB Id, Maps to CMPY_LOB_ID column from
								COMPANY_LINE_OF_BUSINESS_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reservTypeCd" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve Type Code, Maps to CLM_RSRV_TYP_CD
								column from CLAIM_RESERVE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reservTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve Type Code, Maps to CLM_RSRV_TYP_CD
								column from CLAIM_RESERVE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetaryCategoryCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary Code, Maps to CLM_MNY_CTG_CD column
								from CLAIM_MONETARY_CATEGORY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetaryTypeColl" type="MonetaryType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Montery type list</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MonetaryType">
		<xs:annotation>
			<xs:documentation>Collection of Claim Reserve monetary types
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimsMonetaryTypesDTO" type="ClientClaimsMonetaryTypesDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim mometary types.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>


	<xs:complexType name="ClientClaimsMonetaryTypesDTO">
		<xs:complexContent>
			<xs:extension base="ClaimsMonetaryTypesDTO">
				<xs:sequence>
					<xs:element name="monetaryTypeName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary type name, Maps to CLM_MNY_TYP_NM
								Column from CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ClaimsMonetaryTypesDTO">
		<xs:annotation>
			<xs:documentation>Claim Monetary Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="monetaryTypeCd" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary type code, Maps to CLM_MNY_TYP_CD
								Column from CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetaryEffectiveDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Effective date, Maps to EFF_DTM Column from
								CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetaryEndDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expiry date, Maps to END_DTM Column from
								CLAIM_MONETARY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionEffectiveDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Transaction Effetive date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="impactIncurInd" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Impact Incurred amount, If set to true then the
								reserve would be adjusted for payments
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetaryTypeTransactionTypeColl" type="MonetaryTransactionType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monetary type transaction list
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fnclTranTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Financial transaction type code, Maps to
								FNCL_TRAN_TYP_CD column from FINANCIAL_TRANSACTION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="monetaryFnclTranTypeId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Financial transaction type id, Maps to
								FNCL_TRAN_TYP_ID column from FINANCIAL_TRANSACTION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="reserveId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Claim Reserve Id</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="MonetaryTransactionType">
		<xs:annotation>
			<xs:documentation>Collection of claim monetary types
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="claimsMonetaryTypesTransactionTypeDTO"
				type="ClaimsMonetaryTypesTransactionTypeDTO" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Claim mometary transaction types.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="ClaimsMonetaryTypesTransactionTypeDTO">
		<xs:annotation>
			<xs:documentation>Claim Monetary Transaction Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="reserveTypeMonetaryTypesId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reserve monetary types Id, Maps to CMTCX_ID
								Column from CLM_MNY_TYP_CRTMCLX_FTTC_XREF Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="impactIncurInd" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Impact incurred indicator, Maps to
								CMTCFX_IMPCT_INCUR_IND Column from CLM_MNY_TYP_CRTMCLX_FTTC_XREF
								Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="impactIncurIndTemp" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Impact incurred indicator, Internal Use
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fnclTranTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Financial transaction type code, Maps to
								FNCL_TRAN_TYP_CD column from FINANCIAL_TRANSACTION_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>