common-intrg/src/test/resources/xsd/ClientParty.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="PersonInfo" type="Person" />

	<xs:element name="OrganizationInfo" type="Organization" />

	<xs:complexType name="Person">
		<xs:sequence>
			<xs:element name="recordId" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifer for the party.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="context" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stream context - Party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country code.
						usa
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateOfBirth" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date of birth.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gender" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Gender.
						Male
						Female
						Unknown
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maritalStatus" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Marital status.
						Single
						Married
						Divorced
						Widowed
						Separated
						Common Law
						Unknown
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party type
						Person
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addresses" type="AddressList" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communications" type="CommunicationList"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Communication details.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifier" type="TaxIdentifier"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax identifier type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="PersonNameList" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person names.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roles" type="RoleList" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person Roles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Profiles" type="ProfileList" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person additional custom attributes.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mergeAdditionalPartyInfoOnly" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>true indicates if only new information would be
						added for party.
						Existing information will not be updated.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AddressList">
		<xs:sequence>
			<xs:element name="address" type="Address" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Party address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommunicationList">
		<xs:sequence>
			<xs:element name="communication" type="Communication"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Party communication.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonNameList">
		<xs:sequence>
			<xs:element name="personName" type="PersonName" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Person name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrganizationName">
		<xs:sequence>
			<xs:element name="effectiveDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiry date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalSourceId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>External Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Org name types
						Legal Name
						Alias Name
						Primary DBA
						Name
						Secondary DBA Name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="organizationName" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization names.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Parimary flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Organization">
		<xs:sequence>
			<xs:element name="recordId" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifer for the Party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="context" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stream context - Party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryCode" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country code.
						usa
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="partyTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party type
						Organization
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addresses" type="AddressList" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Communications" type="CommunicationList"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Org Communication.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdentifier" type="TaxIdentifier"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax identifier type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Roles" type="RoleList" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Org Roles.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Names" type="OrganizationNameList"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization names.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Profiles" type="ProfileList" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Org additional custom attributres
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mergeAdditionalPartyInfoOnly" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>true indicates if only new information would be
						added for party.
						Existing information will not be updated.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RoleList">
		<xs:sequence>
			<xs:element name="role" type="Role" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Party Role.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="OrganizationNameList">
		<xs:sequence>
			<xs:element name="organizationName" type="OrganizationName"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Organization name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonName">
		<xs:sequence>
			<xs:element name="effectiveDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name effective date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name expiry date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalSourceId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>External identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstName" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>First name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastName" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middleName" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Middle Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameTitleCode" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name title code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name types
						Legal Name
						Alias Name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personName" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="addressLine1" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address line 1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="addressLine2" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address line 2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="city" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="country" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latitude" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Latitude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longitude" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Longtitude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overrideIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates if the address verification was
						overridden.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalSvcRegionCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>State code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subdivision" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>County.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usageType" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address type
						Billing Address
						Physical Address
						Vendor Address
						1099 Address
						Mailing Address
						Payment Address
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="verifiedIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag indicating if the address was verified by
						the third party service.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Communication">
		<xs:sequence>
			<xs:element name="email" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Email address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxNumber" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fax number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phoneNumber" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usageType" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Communication type
						Business Phone
						Cellular Phone
						Home Phone
						Fax
						Personal Email
						Work Email
						Website
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="website" type="xs:string" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Website address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TaxIdentifier">
		<xs:sequence>
			<xs:element name="effectiveDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax effective date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax expiry date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxidNumber" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax id number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxTypeCode" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax type
						FEIN
						SSN
						ITIN
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Vendor">
		<xs:sequence>
			<xs:element name="accountsPayableVendorId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>AP Vendor id.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="areaWideServiceIndicator" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Areawide service indicator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalSourceId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>External identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryIndicator" type="xs:boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Paimary flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="recommendedVendor" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Recommended vendor flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="subjectToSurcharge" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surcharge flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surchargeJurisdiction" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surcharge jurisdiction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surchargeRecipent" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surcharge recipent flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="surchargeTypeCode" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Surcharge type
						HCRA Surcharge
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorCategoryCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Adjuster Services
						Audit Services
						Legal Services
						Investigation Services
						Law Enforcement Services
						Producer
						Health Care
						Provider
						Service Vendor
						Government Services
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorFeeAmount" type="xs:double"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vendor Fee amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorFeeTypeCode" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Administrative Fees
						Vendor Service Fees
						Miscellaneous Fees
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorRatingCode" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vendor rating
						Excellent
						Good
						Fair
						Poor
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendorTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vendor type
						Acupuncturist
						Ambulance
						Airline
						..
						..
						All
						code names configured in VENDOR_TYPE_CD Table.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Driver">
		<xs:sequence>
			<xs:element name="countryCode" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country code.
						usa
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="driverClassTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Commercial
						Motorcycle
						Non-Commercial
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expirationDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>License expiry date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalSourceId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>External Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jurisdiction" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>License jurisdiction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="licenseNumber" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>License number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="originalIssueDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Original issue date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FinancialInstitution">
		<xs:sequence>
			<xs:element name="routingNumber" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Routing number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Agency">
		<xs:sequence>
			<xs:element name="agentResidencyTypeCode" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Residency types
						Resident
						Non-resident
						Temporary
						Permanent
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countersignerAuthIndicator" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Counter sign auth indicator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="effectiveDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiration date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="jurisdiction" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agent jurisdiction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="licenseNumber" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>License number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lineOfBusinessCode" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>LOB Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mgaIndicator" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>MGA indicator.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Regulator">
		<xs:sequence>
			<xs:element name="jurisdiction" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Regulator jurisdiction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regulatorTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Regulator type
						Federal Agency
						State Agency
						Reporting Agency
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Role">
		<xs:sequence>
			<xs:element name="effectiveDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiryDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiry date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="roleTypeCode" type="xs:string"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Role types
						Driver
						Financial Institution
						Insurance
						Agency
						Insurance Agent
						Lease Group
						Third Party Administrator
						Vendor
						Mortgagee
						Insurance Carrier
						Regulator
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agency" type="Agency" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency Role info.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="driver" type="Driver" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Driver Role Info.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="financialInstitution" type="FinancialInstitution"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Financial Instituion role info.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regulator" type="Regulator" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Regulator Role info.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="vendor" type="Vendor" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vendor Role info.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProfileList">
		<xs:sequence>
			<xs:element name="profile" type="Profile" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Custom properties.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Profile">
		<xs:sequence>
			<xs:element name="profileName" type="xs:string" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Profile name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalSourceId" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>External identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="profileResponseText" type="xs:string"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Profile value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

</xs:schema>