common-intrg/src/test/resources/xsd/Orders.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../xsd/BaseTool.xsd" />
	<xs:include schemaLocation="../xsd/OrderReturn.xsd" />

	<xs:annotation>
		<xs:documentation>Order Request Schema.</xs:documentation>
	</xs:annotation>

	<xs:element name="ordersDTO" type="OrdersDTO">
		<xs:annotation>
			<xs:documentation>Order.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="OrdersDTO">
		<xs:annotation>
			<xs:documentation>Order Request</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseToolDTO">
				<xs:sequence>
					<xs:element name="orderRequestCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order Request Code, Maps to ORD_RQST_CD Column
								from ORDER_REQUEST_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="companyID" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Company Id, Maps to CMPY_ID Column from
								COMPANY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="lobCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Line of business code, Maps to LOB_CD Column
								from LINE_OF_BUSINESS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReferenceNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order ref number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderSentDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Ordered date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderRequestDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Request process date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReturnDueDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order return due date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReturnDueTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Orders return time.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReturnDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order return date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderCancelDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order cancel date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReturnExpectedFlag" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order return flag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReturnAlertFlag" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order return alert.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mandatoryElementsWithNullValues" type="stringElementType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Missing mandatory elements.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="agreementSubIdDerived" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Agreement subtype entity Id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderRequestSubmissionMethodCode"
						type="string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order submission method, Maps to
								ORD_RQST_SBMN_METH_CD Column from ORDER_REQUEST_SBMN_METH_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderRequestStatus" type="OrderRequestStatusCompositeDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order request Status Composite
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderRequestData" type="orderRequestDataType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>List of Order Request Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReturnDataDTO" type="OrderReturnDataDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order return data.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderReturnCodes" type="orderReturnCodeType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>List of Order Return Codes</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderRequestDataDetails" type="orderRequestDetailType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order request detail.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="stringElementType">
		<xs:sequence>
			<xs:element name="string" type="string" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>String types.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="OrderRequestStatusCompositeDTO">
		<xs:annotation>
			<xs:documentation>Order Request Status composite.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="currentStatus" type="OrderRequestStatusDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current Order request Status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiredStatusCollection" type="orderRequestStatusType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>List of Expired Order request Status
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="orderRequestStatusType">
		<xs:annotation>
			<xs:documentation>Collection fo Order request status
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderRequestStatusDTO" type="OrderRequestStatusDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Order request status details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="OrderRequestStatusDTO">
		<xs:annotation>
			<xs:documentation>Order Request Status information.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="statusCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order request status code, Maps to
								ORD_RQST_STS_CD Column from ORDER_REQUEST_STATUS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order Id.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="orderRequestDataType">
		<xs:annotation>
			<xs:documentation>Collection Order request data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderRequestDataDTO" type="OrderRequestDataDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Order request data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="OrderRequestDataDTO">
		<xs:annotation>
			<xs:documentation>Order Request Data information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="orderRequestDataElementCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order request data element code, Maps to
								ORD_RQST_DATA_ELEM_CD Column from ORDER_REQUEST_DATA_ELEMENT_CD
								Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orderRequestDataValueText" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order request data element value.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="orderRequestDetailType">
		<xs:annotation>
			<xs:documentation>Collection of Order request detail.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="orderRequestDataDetailsDTO" type="OrderRequestDataDetailsDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Order request data elements.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="OrderRequestDataDetailsDTO">
		<xs:annotation>
			<xs:documentation>Order Request Detail information.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DataTransferObject">
				<xs:sequence>
					<xs:element name="dataElementNumber" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order detail data element sequence number.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataElementCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data element code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataElementName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data element name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataElementDesc" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data element description.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataTypeCode" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data type code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataElementFormatSampleDesc" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data element description.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataValueText" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="requiredIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data required flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="alertIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data alret indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateString" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date vaue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeString" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Time value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dataValueMethodCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Order data method code.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
	