common-intrg/src/test/resources/xsd/PartyCommon.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation>Common Party Schema.</xs:documentation>
	</xs:annotation>

	<xs:complexType name="PersonNameDTO">
		<xs:annotation>
			<xs:documentation>Person Name</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteDTO">
				<xs:sequence>
					<xs:element name="nameTitleCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name title code, Maps to PERS_NM_TTL_CD Column
								from PERSON_NAME_TITLE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nameSuffixCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name suffix code, Maps to PERS_NM_SUFX_CD
								Column from PERSON_NAME_SUFFIX_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nameTypeCode" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name type code, Maps to PERS_NM_TYP_CD Column
								from PERSON_NAME_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personLastName" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Last name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personFirstName" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>First name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personMiddleName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Middle name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personName" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Person name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personNameEffectiveDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Person name effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personNameExpirationDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Person name expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalSourceId" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>External id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personFirstNameDupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>First name dup search string.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personMiddleNameDupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Middle name dup search string.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="personLastNameDupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Last name dup search string.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="OrganizationNameDTO">
		<xs:annotation>
			<xs:documentation>Organization Name</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteDTO">
				<xs:sequence>
					<xs:element name="nameTypeCode" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name type code, Maps to ORG_NM_TYP_CD Column
								from ORGANIZATION_NAME_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationName" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Organization name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationNameEffectiveDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Organization name effective date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationNameExpirationDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Organization name expiry date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primaryNameIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary name indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="deleteInd" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Delete indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="orgNameCharacterCount" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Org Name dup check char count.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dbaNameCharacterCount" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Org DBA name dup check char count.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalSourceId" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>External source id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="organizationNameDupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Org name dup search string.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<xs:complexType name="TaxStatusIndicator">
		<xs:annotation>
			<xs:documentation>TaxStatus Indicator</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="taxIdExempt" type="boolean" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Taxid exempt flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdUnavailable" type="boolean"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax id unavailable flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdDocumentReceiver" type="boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax document receiver flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="taxIdDocumentReceived" type="boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax document received flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="foreignCitizen" type="boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Foreign citizen flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TaxIdentifierDTO">
		<xs:annotation>
			<xs:documentation>Tax identifier.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithImportDTO">
				<xs:sequence>
					<xs:element name="taxIdentifierTypeCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>taxIdentifierTypeCode.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdentifierNumber" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>taxIdentifierNumber.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdentifierSequence" type="xs:integer"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>taxIdentifierSequence.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdentifierEffDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>taxIdentifierEffDate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdentifierEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>taxIdentifierEndDate.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxFillingStatusCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax filing status code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxExmtCount" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax exempt count.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdentifierNumberDupSearch" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax id dup search string.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="taxIdAlreadyExistFlag" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tax id exists flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="BankAccountDTO">
		<xs:annotation>
			<xs:documentation>BankAccount information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithImportDTO">
				<xs:sequence>
					<xs:element name="bankAccountTypeCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Bank account type code, Maps to
								BANK_ACCT_TYP_CD Column from BANK_ACCOUNT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankAccountNumber" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maskedBankAccountNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Masked bank account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankAccountName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankAccountEffDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bankAccountEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account end date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eftStatusCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>EFT status code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eftStatusEffDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>EFT status effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primartyIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Primary indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="preNoteIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pre note indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="preNoteIndicatorOld" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Internal use.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eftSentIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>EFT sent indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyIdFinancialInstitution" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>party Id which has role of financial
								institution.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="financilaInstitutionName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Financial institution name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="routingNumber" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Routing number.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="CreditCardAccountDTO">
		<xs:annotation>
			<xs:documentation>Party CreditCardAccount information.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithImportDTO">
				<xs:sequence>
					<xs:element name="creaditCardType" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Credit card type, Maps to CC_TYP_CD Column from
								CREDIT_CARD_TYPE_CD	Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="accountNumber" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Account number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="externalReferenceNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>External reference number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="nameOnCard" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Name on card.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="serviceCode" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>EFT Service code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="expirationMonth" type="long"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expiration month.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="exprationYear" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Expiration year.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creditCardAccountEffDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>CC Account effective date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creditCardAccountEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>CC Account expiry date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creditCardAddresses" type="creditcardAddressType">
						<xs:annotation>
							<xs:documentation>Credit Card Addresses</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="primartyIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Parimary indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="creditcardAddressType">
		<xs:sequence>
			<xs:element name="creditCardAddressDTO" type="CreditCardAddressDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Credit card addresses.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="CreditCardAddressDTO">
		<xs:annotation>
			<xs:documentation>CC Address information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithImportDTO">
				<xs:sequence>
					<xs:element name="postalServiceRegionId" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal service region id, Maps to
								PSTL_SERV_RGN_ID Column	from POSTAL_SERVICE_REGION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalCode" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal code.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine1" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 1.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="addressLine2" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Address line 2.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="cityName" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>City.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subdivisionName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Subdivision name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="postalSvcRegionCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Postal service region code, Maps to
								PSTL_SERV_RGN_ABRV Column from POSTAL_SERVICE_REGION_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="countryCode" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Country code, Maps to CNTRY_CD Column from
								COUNTRY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="otherAddInd" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Pther address flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partyAddressId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party address id.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="overrideIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Override indicator</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="manualPostalRegionName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Manual postal region name.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="blockType">
		<xs:sequence>
			<xs:element name="blockDTO" type="BlockDTO" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Party blocks.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="BlockDTO">
		<xs:annotation>
			<xs:documentation>Party Block information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteAndExpireDTO">
				<xs:sequence>
					<xs:element name="blockTypeCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>blockTypeCode, 
								Maps to PARTY_BLK_TYP_CD Column from PARTY_BLOCK_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="blockReason" type="string" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>blockReason.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
