common-intrg/src/test/resources/xsd/WorkItem.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:annotation>
		<xs:documentation>Work Item Schema.</xs:documentation>
	</xs:annotation>

	<xs:element name="workItemDTO" type="ClientWorkItemDTO">
		<xs:annotation>
			<xs:documentation>Work item.</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="ClientWorkItemDTO">
		<xs:complexContent>
			<xs:extension base="WorkItemDTO">
				<xs:sequence>
					<xs:element name="clientWorkItemStatus" type="ClientWorkItemStatusCompositeDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item status</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WorkItemDTO">
		<xs:annotation>
			<xs:documentation>Work Item information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="BaseToolDTO">
				<xs:sequence>
					<xs:element name="workItemType" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Type, 
								Maps to WRK_ITEM_TYP_CD Column from WORK_ITEM_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemTemplate" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Template</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemSource" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Source code, 
								Maps to WRK_ITEM_SRC_CD	Column from WORK_ITEM_SOURCE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemCategory" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Category Type Code, 
								Maps to	WRK_ITEM_CTG_TYP_CD Column from WORK_ITEM_CATEGORY_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemSubCategory" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Category Code, 
								Maps to WRK_ITEM_CTG_CD	Column from WORK_ITEM_CATEGORY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemName" type="string" minOccurs="1"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item name</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemDescription" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Description</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date Work Item will be active
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemDueDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date the Work Item will be overdue
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemRedirectOverrideIndicator"
						type="boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the Work item can be
								redirected or not
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userLinkUpdateFlag" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User link update indicator.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemAssignedUserModifiableIndicator"
						type="boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the assigned user can
								override the Work Item
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemEsclationIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the Work Item can be
								escalated
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemEscalationToSupervisiorIndicator"
						type="boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the Work Item can be
								escalated to the Supervisor
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemEscalationExclPendingIndicator"
						type="boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the Work Item can be
								escalated when the work item is in pending status.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemCompleteCommentRequiredIndicator"
						type="boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether a Comment is required when
								the Work Item is completed.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemPrivateIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the Work Item is private or
								not
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemConfidentialIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the Work Item is Confidential
								or not.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemComment" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item comment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemProcess" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Process associated with the Work Item
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemProcessStep" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Step with the process of the Work Item
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemProcessId" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Internal BPM process identifier
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemPriority" type="WorkItemPriorityDTOType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Collection of Work Item priority as
								WorkItemPriorityDTO
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemAssignment" type="WorkItemAssignmentDTOType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Collection of Work Item Assignments as
								WorkItemAssignmentDTO
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemStatus" type="WorkItemStatusCompositeDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Status CompositeDTO
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemEscalation" type="WorkItemEscalationDTOType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Collection of Work Item escalation details.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemExternalIndexInfo" type="dummyType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Not used for Claim Import. Place holder for
								Claim Details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="segmentationAccess" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User segmentation access flag.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="updatedUserDetails" type="UserDetailsDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Not used for Claim Import. Place holder for
								Claim Details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="createdUserDetails" type="UserDetailsDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Not used for Claim Import. Place holder for
								Claim Details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="effectiveDateTime" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work item effective date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="endDateTime" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work item end date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="delInd" type="boolean" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Delete flag</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="folder" type="folderType" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Not used for Claim Import. Place holder for
								Claim Details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="saveEvenIfRuleExist" type="dummyType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Not used for Claim Import. Place holder for
								Claim Details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemReoccurrence" type="WorkItemReoccurrenceDTO"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item re-occurrence details
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemOriginalIndicator" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates whether the this is the original work
								item with subsequent re-occurring work items.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="existingWorkItemDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Current work item effective date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="existingWorkItemDueDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Current work item due date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemReassign" type="boolean"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Reassigned work item flag.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userPhoneNumber" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Phone number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userEmail" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Email.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userTitle" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User Title,
								Maps to USER_TTL_CD Column from USER_TITLE_CD Table.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userSupervisor" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Supervisor name.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="assignedToUser" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User name.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WorkItemPriorityDTOType">
		<xs:sequence>
			<xs:element name="workItemPriorityDTO" type="WorkItemPriorityDTO"
				minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work item priority details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="WorkItemPriorityDTO">
		<xs:annotation>
			<xs:documentation>Work Item Priority information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="workItemPriorityCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Priority Code, 
								Maps to WRK_ITEM_PRTY_CD Column from WORK_ITEM_PRIORITY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemPriorityName" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work item priority name.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WorkItemAssignmentDTOType">
		<xs:annotation>
			<xs:documentation>Work item assignment list</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="workItemAssignmentDTO" type="WorkItemAssignmentDTO"
				minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work item assignments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="WorkItemAssignmentDTO">
		<xs:annotation>
			<xs:documentation>Work Item Assignment Information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="workItemUserId" type="long" minOccurs="0"
						maxOccurs="1">
						<xs:annotation>
							<xs:documentation>User assigned to the Work Item, 
								Maps to USER_ID Column from USER_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemOrganizationUnit" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Team assigned to the Work Item, 
								Maps to CMPY_ORG_UNT_ID Column from	COMPANY_ORGANIZATION_UNIT_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="loadBalancingCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Load Balancing Rule used for the assignment, 
								Maps to LOAD_BALANCING_RULE_CD Column from LD_BAL_RL_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemRecipientTypeCode" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Recipient type, 
								Maps to	WRK_ITEM_RECIP_TYP_CD Column from WORK_ITEM_RECIPIENT_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WorkItemStatusCompositeDTO">
		<xs:annotation>
			<xs:documentation>Work Item Status composite.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="currentStatus" type="WorkItemStatusDTO"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Current work item status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="expiredStatusCollection" type="expiredWorkItemStatus"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expired work item status.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ClientWorkItemStatusCompositeDTO">
		<xs:annotation>
			<xs:documentation>Work Item Status composite.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="WorkItemStatusCompositeDTO">
				<xs:sequence>
					<xs:element name="workItemStatusDTO" type="WorkItemStatusDTO"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Current status of the Work Item.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="expiredWorkItemStatusCollection" type="expiredWorkItemStatus"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Collection of expired work item statuses
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="expiredWorkItemStatus">
		<xs:annotation>
			<xs:documentation>Expired work item list</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="workItemStatusDTO" type="WorkItemStatusDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work item status details.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="WorkItemStatusDTO">
		<xs:annotation>
			<xs:documentation>Work Item status information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithExpireDTO">
				<xs:sequence>
					<xs:element name="workItemStatus" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Status code, 
								Maps to WRK_ITEM_STS_CD	Column from WORK_ITEM_STATUS_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemStatusPendDays" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of pending days for the work item in the
								pending status
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemStatusPendReason" type="string"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Description of the pending Work item
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WorkItemEscalationDTOType">
		<xs:annotation>
			<xs:documentation>Work item escalation list</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="workItemEscalationDTO" type="WorkItemEscalationDTO"
				minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Work item escalation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="class" type="collectionType" use="optional" />
	</xs:complexType>

	<xs:complexType name="WorkItemEscalationDTO">
		<xs:annotation>
			<xs:documentation>Work Item Escalation information</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditDTO">
				<xs:sequence>
					<xs:element name="workItemPriorityCode" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Priority Code, 
								Maps to WRK_ITEM_PRTY_CD Column from WORK_ITEM_PRIORITY_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemEscalationDays" type="long"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number days before the work item will be
								escalated
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="WorkItemReoccurrenceDTO">
		<xs:annotation>
			<xs:documentation>Reoccurrence work item details.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AuditWithDeleteAndExpireDTO">
				<xs:sequence>
					<xs:element name="workItemReoccurrenceTypeCd" type="string"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Work Item Re-occurrence type code, 
								Maps to	WRK_ITEM_REOCCR_TYP_CD Column from WORK_ITEM_REOCCURRENCE_TYPE_CD Table.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemReoccurrenceEffDate" type="dateType"
						minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Re-occurrence date for the Work Item
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemReoccurrenceEndDate" type="dateType"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Re-occurrence end date for the Work Item
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="workItemReoccurrenceCnt" type="long"
						minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Number of Re-occurrence</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

</xs:schema>
